
@{
    ViewBag.Title = "Conditions";
}
@{

    try
    {
        <div class="remove_desk_block ">
            <div class="col-md-12">

                <h2>Betingelser og privatlivspolitik</h2>

                <p style="width:75%">
                    e-bazar.dk er en side der giver kræmmere og andre selvstændige mulighed får at komme ud med sine produkter. Til dette formål skal der bruges en række informationer, såsom en gyldig e-mail til oprettelse af din profil samt dele af adressen på lokationen af varene, såsom postnummer og by.
                    <br /><br />Derfor skriver vi denne  meddelelse så det bliver klart hvilke oplysninger det drejer sig om, hvordan de bliver behandlet og hvem der kan se disse.
                    <br /><br />Vi behandler dine oplysninger på en sikker og fortrolig måde.
                </p>
                <br />
                <h4>
                    Når du opretter en sælger profil
                </h4>
                <p style="width:75%">
                    Når du opretter en sælgerprofil, gemmer vi din e-mailadresse, og hvis du selv vil, dine kontaktoplysninger såsom navn og telefonnummer. Disse informationer kan du tilføje, redigere og fjerne når det passer dig.
                    <br /><br />Ved e-mail, telefonnummer, fornavn og efternavn er det muligt at bestemme hvor synlig disse vil være for andre på siden.
                </p>
                <br />
                <h4>
                    Når du opretter en køber profil
                </h4>
                <p style="width:75%">
                    Når du opretter en køberprofil, gemmer vi din e-mailadresse, og hvis du vil dit fornavn og efternavn. Disse informationer kan du tilføje, redigere og fjerne når det passer dig.
                    <br /><br />Ved e-mail, fornavn og efternavn er det muligt at bestemme hvor synlig disse vil være for andre på siden på siden.
                    <br /><br />Disse oplysninger bliver naturligvis brugt til at skabe en så god kundeoplevelse på siden som muligt.
                </p>
                <br />
                <h4>
                    Sletning af brugerprofil
                </h4>
                <p style="width:75%">
                    For at slette en brugerprofil, bedes du kontakte admin@e-bazar.dk.
                </p>
                <br />
                <h4>
                    Når du opretter en bod
                </h4>
                <p style="width:75%">
                    Når du opretter en bod på siden, skal der som minimum bruges postnr og by.
                    <br />Disse kan ses af alle.
                    <br />Vejnavn og nummer er frivilligt.
                </p>
                <br />
                <h4>
                    Statistik
                </h4>
                <p style="width:75%">
                    Derudover logger vi, besøgende på siden i form af IP-adresse, samt søgninger(kriterier).
                    <br />Dette sker anonymt og gøres for at forbedre vores service og kan ikke henføres til dig.
                </p>
                <br />
                <h4>
                    Cookies
                </h4>
                <p style="width:75%">
                    Der bliver brugt cookies når du opretter og logger ind på din profil. Cookien bliver kun brugt til identificering af brugeren i resten af systemet.
                    <br />Desuden bliver der brugt cookies til at holde styr på søgninger og navigation på siden.
                </p>
                <br />
                <h4>
                    Datasikkerhed
                </h4>
                <p style="width:75%">
                    Ved oprettelse af ny profil, bliver kryptering benyttet for password.
                </p>
                <br />
                <h4>
                    Ansvarsfraskrivelse
                </h4>
                <p style="width:70%">
                    Vi forbeholder os ret til at fjerne oplysninger og profiler i tilfælde af mistænksom og/eller ulovlig brug af siden.
                </p>
                <br />
                <p style="width:75%">
                    <br />
                    <br />
                    <br />
                    Har du spørgsmål til vores service eller brug for hjælp, er du velkommen til at kontakte os på admin@e-bazar.dk.
                </p>
                <br />
                <p style="width:75%">
                    Med venlig hilsen<br />
                    @SettingsHelper.Basic.EMAIL_ADMIN()
                </p>
            </div>
        </div>















        <div class="remove_tab_block ">
            <div class="col-md-12">

                <h2>Betingelser og privatlivspolitik</h2>

                <p style="width:75%">
                    e-bazar.dk er en side der giver kræmmere og andre selvstændige mulighed får at komme ud med sine produkter. Til dette formål skal der bruges en række informationer, såsom en gyldig e-mail til oprettelse af din profil samt dele af adressen på lokationen af varene, såsom postnummer og by.
                    <br /><br />Derfor skriver vi denne  meddelelse så det bliver klart hvilke oplysninger det drejer sig om, hvordan de bliver behandlet og hvem der kan se disse.
                    <br /><br />Vi behandler dine oplysninger på en sikker og fortrolig måde.
                </p>
                <br />
                <h4>
                    Når du opretter en sælger profil
                </h4>
                <p style="width:75%">
                    Når du opretter en sælgerprofil, gemmer vi din e-mailadresse, og hvis du selv vil, dine kontaktoplysninger såsom navn og telefonnummer. Disse informationer kan du tilføje, redigere og fjerne når det passer dig.
                    <br /><br />Ved e-mail, telefonnummer, fornavn og efternavn er det muligt at bestemme hvor synlig disse vil være for andre på siden.
                </p>
                <br />
                <h4>
                    Når du opretter en køber profil
                </h4>
                <p style="width:75%">
                    Når du opretter en køberprofil, gemmer vi din e-mailadresse, og hvis du vil dit fornavn og efternavn. Disse informationer kan du tilføje, redigere og fjerne når det passer dig.
                    <br /><br />Ved e-mail, fornavn og efternavn er det muligt at bestemme hvor synlig disse vil være for andre på siden på siden.
                    <br /><br />Disse oplysninger bliver naturligvis brugt til at skabe en så god kundeoplevelse på siden som muligt.
                </p>
                <br />
                <h4>
                    Sletning af brugerprofil
                </h4>
                <p style="width:75%">
                    For at slette en brugerprofil, bedes du kontakte admin@e-bazar.dk.
                </p>
                <br />
                <h4>
                    Når du opretter en bod
                </h4>
                <p style="width:75%">
                    Når du opretter en bod på siden, skal der som minimum bruges postnr og by.
                    <br />Disse kan ses af alle.
                    <br />Vejnavn og nummer er frivilligt.
                </p>
                <br />
                <h4>
                    Statistik
                </h4>
                <p style="width:75%">
                    Derudover logger vi, besøgende på siden i form af IP-adresse, samt søgninger(kriterier).
                    <br />Dette sker anonymt og gøres for at forbedre vores service og kan ikke henføres til dig.
                </p>
                <br />
                <h4>
                    Cookies
                </h4>
                <p style="width:75%">
                    Der bliver brugt cookies når du opretter og logger ind på din profil. Cookien bliver kun brugt til identificering af brugeren i resten af systemet.
                    <br />Desuden bliver der brugt cookies til at holde styr på søgninger og navigation på siden.
                </p>
                <br />
                <h4>
                    Datasikkerhed
                </h4>
                <p style="width:75%">
                    Ved oprettelse af ny profil, bliver kryptering benyttet for password.
                </p>
                <br />
                <h4>
                    Ansvarsfraskrivelse
                </h4>
                <p style="width:70%">
                    Vi forbeholder os ret til at fjerne oplysninger og profiler i tilfælde af mistænksom og/eller ulovlig brug af siden.
                </p>
                <br />
                <p style="width:75%">
                    <br />
                    <br />
                    <br />
                    Har du spørgsmål til vores service eller brug for hjælp, er du velkommen til at kontakte os på admin@e-bazar.dk.
                </p>
                <br />
                <p style="width:75%">
                    Med venlig hilsen<br />
                    @SettingsHelper.Basic.EMAIL_ADMIN()
                </p>
            </div>
        </div>












        <div class="remove_phone_block ">

            <div class="col-md-12">

                <h2>Betingelser og privatlivspolitik</h2>

                <p style="width:75%">
                    e-bazar.dk er en side der giver kræmmere og andre selvstændige mulighed får at komme ud med sine produkter. Til dette formål skal der bruges en række informationer, såsom en gyldig e-mail til oprettelse af din profil samt dele af adressen på lokationen af varene, såsom postnummer og by.
                    <br /><br />Derfor skriver vi denne  meddelelse så det bliver klart hvilke oplysninger det drejer sig om, hvordan de bliver behandlet og hvem der kan se disse.
                    <br /><br />Vi behandler dine oplysninger på en sikker og fortrolig måde.
                </p>
                <br />
                <h4>
                    Når du opretter en sælger profil
                </h4>
                <p style="width:75%">
                    Når du opretter en sælgerprofil, gemmer vi din e-mailadresse, og hvis du selv vil, dine kontaktoplysninger såsom navn og telefonnummer. Disse informationer kan du tilføje, redigere og fjerne når det passer dig.
                    <br /><br />Ved e-mail, telefonnummer, fornavn og efternavn er det muligt at bestemme hvor synlig disse vil være for andre på siden.
                </p>
                <br />
                <h4>
                    Når du opretter en køber profil
                </h4>
                <p style="width:75%">
                    Når du opretter en køberprofil, gemmer vi din e-mailadresse, og hvis du vil dit fornavn og efternavn. Disse informationer kan du tilføje, redigere og fjerne når det passer dig.
                    <br /><br />Ved e-mail, fornavn og efternavn er det muligt at bestemme hvor synlig disse vil være for andre på siden på siden.
                    <br /><br />Disse oplysninger bliver naturligvis brugt til at skabe en så god kundeoplevelse på siden som muligt.
                </p>
                <br />
                <h4>
                    Sletning af brugerprofil
                </h4>
                <p style="width:75%">
                    For at slette en brugerprofil, bedes du kontakte admin@e-bazar.dk.
                </p>
                <br />
                <h4>
                    Når du opretter en bod
                </h4>
                <p style="width:75%">
                    Når du opretter en bod på siden, skal der som minimum bruges postnr og by.
                    <br />Disse kan ses af alle.
                    <br />Vejnavn og nummer er frivilligt.
                </p>
                <br />
                <h4>
                    Statistik
                </h4>
                <p style="width:75%">
                    Derudover logger vi, besøgende på siden i form af IP-adresse, samt søgninger(kriterier).
                    <br />Dette sker anonymt og gøres for at forbedre vores service og kan ikke henføres til dig.
                </p>
                <br />
                <h4>
                    Cookies
                </h4>
                <p style="width:75%">
                    Der bliver brugt cookies når du opretter og logger ind på din profil. Cookien bliver kun brugt til identificering af brugeren i resten af systemet.
                    <br />Desuden bliver der brugt cookies til at holde styr på søgninger og navigation på siden.
                </p>
                <br />
                <h4>
                    Datasikkerhed
                </h4>
                <p style="width:75%">
                    Ved oprettelse af ny profil, bliver kryptering benyttet for password.
                </p>
                <br />
                <h4>
                    Ansvarsfraskrivelse
                </h4>
                <p style="width:70%">
                    Vi forbeholder os ret til at fjerne oplysninger og profiler i tilfælde af mistænksom og/eller ulovlig brug af siden.
                </p>
                <br />
                <p style="width:75%">
                    <br />
                    <br />
                    <br />
                    Har du spørgsmål til vores service eller brug for hjælp, er du velkommen til at kontakte os på admin@e-bazar.dk.
                </p>
                <br />
                <p style="width:75%">
                    Med venlig hilsen<br />
                    @SettingsHelper.Basic.EMAIL_ADMIN()
                </p>
            </div>
        </div>
    }
    catch (Exception e)
    {
        
        string s = ErrorHelper.HandleError(ERROR.CONDITIONS, e);
        string subject = "Fejl i front, Conditions(MOB)";
        string body = s;
        AdminHelper.Notification.Run(SettingsHelper.Basic.EMAIL_MAIL(), SettingsHelper.Basic.EMAIL_MAIL(), SettingsHelper.Basic.EMAIL_MAIL(), subject, body);
    }

}
<script>
    $(document).ready(function () {
        $('.z-myalert').hide();
    });
</script>