
@{
    ViewBag.Title = "_Features";
}

@{ 
    
        try
        {

<div class="remove_desk_block ">
    <h2>Featureliste@*<span class="hide_phone"><a href="/konto/login?returnUrl=%2Fadministration%2Frediger-profil"><img style="padding-bottom:3px" width="35" height="35" src="/images/site/rabbit_wh.jpg" title="I believe in you!" /></a></span>*@</h2>

    <p style="width:75%">
        Som bruger på @SettingsHelper.Basic.SITENAME_SHORT() får du adgang til disse features:
    </p>
    <br />
    <br />


    <span class="bold">Sælger</span>
    @*<div>* 5% per handel (iværksættes senere)</div>*@
    <div>* ubegrænset antal varer og samlinger</div>
    <div>* op til 10 butikker</div>
    <div>* opret varer enkeltvis eller saml dem som sæt</div>
    @*<div>* kopier produkt, for hurtigt at oprette nye varer</div>*@
    <div>* flyt nemt varer mellem butikker</div>
    <div>* vælg mellem mange parametre til at beskrive varen</div>
    <div>* knyt egne definerede "tags" til din vare</div>
    @*<div>* opret medarbejder</div>*@
    @*<div>* ordresystem der notificerer køber om fremsendelse af vare</div>*@
    <div>* vælg selv hvilke informationer der skal vises</div>
    <div>* 2 mappe niveauer internt i butikken</div>
    <div>* Drives af donationer fra sælgere</div>
    @*<div>* Sælger skal være oprettet med en "<a href="https://www.nets.eu/dk/payments/login/online/">Easy</a>" konto fra Nets A/S</div>*@
    <br />
    <span class="bold">Sælger og køber</span>
    <div>* besked system mellem køber og butik</div>
    <div>* gem som favorit</div>
    <div>* tilføj til følger</div>
    <br />
    <span class="bold">Siden</span>
    <div>* avanceret søgning</div>
    <div>* avanceret kategori og tag system, til fremsøgning af varer</div>
    <div>* flere navigations muligheder for at finde rundt på siden</div>
    <br />
    @*<span class="bold">Fremtidige planer</span>
    <div>* internt forum for sælgere</div>
    <br />*@
    <div>* nem at betjene</div>
    <br />
    <p>
        <div>Der bliver løbende forbedret og udviklet nye features.</div>
        @*Dette er en opstart og er derfor gratis, indtil der er oprettet en fornuftig brugerbase og der er kommet gang i handlen på siden.*@
        <br /><br />
        <span class="bold darkgrey_bg">Siden er uden annoncering.</span>
    </p>
</div>

















<div class="remove_tab_block ">
    <h2>Featureliste@*<span class="hide_phone"><a href="/konto/login?returnUrl=%2Fadministration%2Frediger-profil"><img style="padding-bottom:3px" width="35" height="35" src="/images/site/rabbit_wh.jpg" title="I believe in you!" /></a></span>*@</h2>

    <p style="width:75%">
        Som bruger på @SettingsHelper.Basic.SITENAME_SHORT() får du adgang til disse features:
    </p>
    <br />
    <br />


    <span class="bold">Sælger</span>
    @*<div>* 5% per handel (iværksættes senere)</div>*@
    <div>* ubegrænset antal varer og samlinger</div>
    <div>* op til 10 butikker</div>
    <div>* opret varer enkeltvis eller saml dem som sæt</div>
    @*<div>* kopier produkt, for hurtigt at oprette nye varer</div>*@
    <div>* flyt nemt varer mellem butikker</div>
    <div>* vælg mellem mange parametre til at beskrive varen</div>
    <div>* knyt egne definerede "tags" til din vare</div>
    @*<div>* opret medarbejder</div>*@
    @*<div>* ordresystem der notificerer køber om fremsendelse af vare</div>*@
    <div>* vælg selv hvilke informationer der skal vises</div>
    <div>* 2 mappe niveauer internt i butikken</div>
    <div>* Drives af donationer fra sælgere</div>
    @*<div>* Sælger skal være oprettet med en "<a href="https://www.nets.eu/dk/payments/login/online/">Easy</a>" konto fra Nets A/S</div>*@
    <br />
    <span class="bold">Sælger og køber</span>
    <div>* besked system mellem køber og butik</div>
    <div>* gem som favorit</div>
    <div>* tilføj til følger</div>
    <br />
    <span class="bold">Siden</span>
    <div>* avanceret søgning</div>
    <div>* avanceret kategori og tag system, til fremsøgning af varer</div>
    <div>* flere navigations muligheder for at finde rundt på siden</div>
    <br />
    @*<span class="bold">Fremtidige planer</span>
        <div>* internt forum for sælgere</div>
        <br />*@
    <div>* nem at betjene</div>
    <br />
    <p>
        <div>Der bliver løbende forbedret og udviklet nye features.</div>
        @*Dette er en opstart og er derfor gratis, indtil der er oprettet en fornuftig brugerbase og der er kommet gang i handlen på siden.*@
        <br /><br />
        <span class="bold darkgrey_bg">Siden er uden annoncering.</span>
    </p>
</div>
        
        














<div class="col remove_phone_block ">
    <h2>Featureliste@*<span class="hide_phone"><a href="/konto/registrer"><img style="padding-bottom:3px" width="30" height="30" src="/images/site/rabbit_wh.jpg" title="I believe in you!" /></a></span>*@</h2>

    <p style="width:75%">
        Som bruger på @SettingsHelper.Basic.SITENAME_SHORT() får du adgang til disse features:
    </p>
    <br />
    <br />


    <span class="bold">Sælger</span>
    @*<div>* 5% per handel (iværksættes senere)</div>*@
    <div>* ubegrænset antal varer og samlinger</div>
    <div>* op til 10 butikker</div>
    <div>* opret varer enkeltvis eller saml dem som sæt</div>
    @*<div>* kopier produkt, for hurtigt at oprette nye varer</div>*@
    <div>* flyt nemt varer mellem butikker</div>
    <div>* vælg mellem mange parametre til at beskrive varen</div>
    <div>* knyt egne definerede "tags" til din vare</div>
    @*<div>* opret medarbejder</div>*@
    @*<div>* ordresystem der notificerer køber om fremsendelse af vare</div>*@
    <div>* vælg selv hvilke informationer der skal vises</div>
    <div>* 2 mappe niveauer internt i butikken</div>
    <div>* Drives af donationer fra sælgere</div>
    @*<div>* Sælger skal være oprettet med en "<a href="https://www.nets.eu/dk/payments/login/online/">Easy</a>" konto fra Nets A/S</div>*@
    <br />
    <span class="bold">Sælger og køber</span>
    <div>* besked system mellem køber og butik</div>
    <div>* gem som favorit</div>
    <div>* tilføj til følger</div>
    <br />
    <span class="bold">Siden</span>
    <div>* avanceret søgning</div>
    <div>* avanceret kategori og tag system, til fremsøgning af varer</div>
    <div>* flere navigations muligheder for at finde rundt på siden</div>
    <br />
    @*<span class="bold">Fremtidige planer</span>
    <div>* internt forum for sælgere</div>
    <br />*@
    <div>* nem at betjene</div>
    <br />
    <p>
        <div>Der bliver løbende forbedret og udviklet nye features.</div>
        @*Dette er en opstart og er derfor gratis, indtil der er oprettet en fornuftig brugerbase og der er kommet gang i handlen på siden.*@
        <br /><br />
        <span class="bold darkgrey_bg">Siden er uden annoncering.</span>
    </p>
</div>

    }
    catch (Exception e)
    {
        
        string s = ErrorHelper.HandleError(ERROR.FEATURES, e);
        string subject = "Fejl i front, Features(DESK)";
        string body = s;
        AdminHelper.Notification.Run(SettingsHelper.Basic.EMAIL_MAIL(), SettingsHelper.Basic.EMAIL_MAIL(), SettingsHelper.Basic.EMAIL_MAIL(), subject, body);
    }

}