@{
    ViewBag.Title = "Glemt kodeord bekræftelse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        En besked med et reset link er blevet sendt til din e-mail.<br />
        Husk at tjekke din spam folder.
        @*Please check your email to reset your password.*@
    </p>
</div>
	
<script>
    $(document).ready(function () {
        $('.z-myalert').hide();
    });
</script>