@{
    ViewBag.Title = "Kodeord ændret";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Dit kodeord er blevet ændret. @Html.RouteLink("Tryk her", "Login1", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<script>
    $(document).ready(function () {
        $('.z-myalert').hide();
    });
</script>