
@{
    ViewBag.Title = "Maintenance";
}

<div class="col-md-12">

<h2>Service meddelelse</h2>

Siden er igang med opdatering.<br />
Vi er tilbage snarest.<br /><br />
Med venlig hilsen<br />
e-bazar.dk

</div>

